// Place all the styles related to the games controller here.
p {
  display: inline;
  font-size: 48px;
  background-color: #3497DB;
  color: white;
  padding: 25px;
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
